# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.vitepress/cache/
dist/
build/
out/
.next/
.nuxt/
.vite/
.astro/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Misc
.cache/
.temp/
*.local
